.main {
    display: flex;
    flex-direction: column;
    margin: 15px 20px;
}

.in {
    align-items: flex-start;
}

.out {
    align-items: flex-end;
}

.msgBlock {
    max-width: 75%;
    border-radius: 10px;
    background-color: #e9edef;

    padding: 15px 20px;
    box-shadow: rgba(149, 157, 165, 0.2) 0 2px 14px;
}

.content {
}

.date {
    font-size: 12px;
    text-align: right;
    margin-top: 5px;
}